Repository lepoco/i18n, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies

Update
  Lepo.i18n.sln
  src/Lepo.i18n.DependencyInjection/GlobalUsings.cs
  src/Lepo.i18n.DependencyInjection/Lepo.i18n.DependencyInjection.csproj
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  src/Lepo.i18n.DependencyInjection/StringLocalizer.cs
  src/Lepo.i18n.Json/StringLocalizerBuilderExtensions.cs
  src/Lepo.i18n.Wpf/StringLocalizerExtension.cs
  src/Lepo.i18n.Yaml/GlobalUsings.cs
  src/Lepo.i18n.Yaml/StringLocalizerBuilderExtensions.cs
  src/Lepo.i18n.Yaml/YamlDecoder.cs
  src/Lepo.i18n/GlobalUsings.cs
  src/Lepo.i18n/ILocalizationCultureManager.cs
  src/Lepo.i18n/ILocalizationManager.cs
  src/Lepo.i18n/ILocalizationProvider.cs
  src/Lepo.i18n/LocalizationBuilder.cs
  src/Lepo.i18n/LocalizationBuilderException.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  src/Lepo.i18n/LocalizationCultureManager.cs
  src/Lepo.i18n/LocalizationManager.cs
  src/Lepo.i18n/LocalizationProvider.cs
  src/Lepo.i18n/LocalizationSet.cs
  src/Lepo.i18n/StringLocalizerBuilder.cs
  src/Lepo.i18n/StringLocalizerBuilderExtensions.cs
  src/Lepo.i18n/StringLocalizerFactory.cs
  src/Lepo.i18n/Yaml.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Lepo.i18n.DependencyInjection.UnitTests.csproj
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.cs-CZ.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.en-US.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.pl-PL.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
  tests/Lepo.i18n.UnitTests/Resources/Test.cs
Labels: dotnet, NuGet

Update namespace
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
Labels: dotnet

Create ApplicationExtensions.cs
  src/Lepo.i18n.Wpf/ApplicationExtensions.cs
Labels: dotnet

Fix tests
  Directory.Packages.props
  Lepo.i18n.sln
  src/Lepo.i18n.DependencyInjection/GlobalUsings.cs
  src/Lepo.i18n.DependencyInjection/Lepo.i18n.DependencyInjection.csproj
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  src/Lepo.i18n.Json/Lepo.i18n.Json.csproj
  src/Lepo.i18n.Wpf/ApplicationExtensions.cs
  src/Lepo.i18n.Wpf/GlobalUsings.cs
  src/Lepo.i18n.Wpf/Properties/AssemblyInfo.cs
  src/Lepo.i18n.Wpf/StringLocalizerExtension.cs
  src/Lepo.i18n.Yaml/GlobalUsings.cs
  src/Lepo.i18n.Yaml/Lepo.i18n.Yaml.csproj
  src/Lepo.i18n/LocalizationProvider.cs
  src/Lepo.i18n/Yaml/StringLocalizerBuilderExtensions.cs
  src/Lepo.i18n/Yaml/YamlDecoder.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
Labels: dotnet, NuGet

add missing usings
  README.md
  src/Lepo.i18n/GlobalUsings.cs
  src/Lepo.i18n/Yaml/YamlDecoder.cs
Labels: dotnet, NuGet

Fix (kinda) yaml
  Lepo.i18n.sln
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  src/Lepo.i18n.DependencyInjection/StringLocalizer.cs
  src/Lepo.i18n.Wpf/ApplicationExtensions.cs
  src/Lepo.i18n.Wpf/Lepo.i18n.Wpf.csproj
  src/Lepo.i18n.Wpf/StringLocalizerExtension.cs
  src/Lepo.i18n/GlobalUsings.cs
  src/Lepo.i18n/ILocalizationCultureManager.cs
  src/Lepo.i18n/LocalizationBuilder.cs
  src/Lepo.i18n/LocalizationBuilderException.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  src/Lepo.i18n/LocalizationCultureManager.cs
  src/Lepo.i18n/LocalizationProvider.cs
  src/Lepo.i18n/Yaml/StringLocalizerBuilderExtensions.cs
  src/Lepo.i18n/Yaml/YamlDecoder.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
  tests/Lepo.i18n.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.UnitTests/Resources/Translations.pl_PL.yaml
  tests/Lepo.i18n.UnitTests/Yaml/FromYamlTests.cs
  tests/Lepo.i18n.Wpf.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.Wpf.UnitTests/Lepo.i18n.Wpf.UnitTests.csproj
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.cs-CZ.resx
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.en-US.resx
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.pl-PL.resx
  tests/Lepo.i18n.Wpf.UnitTests/StringLocalizerExtensionTests.cs
  tests/Lepo.i18n.Wpf.UnitTests/TestPage.xaml
  tests/Lepo.i18n.Wpf.UnitTests/TestPage.xaml.cs
Labels: dotnet, NuGet

Add obsoelte
  src/Lepo.i18n/Translator.cs
  tests/Lepo.i18n.UnitTests/Yaml/FromYamlTests.cs
Labels: dotnet, NuGet

Update test
  Directory.Build.props
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Lepo.i18n.DependencyInjection.UnitTests.csproj
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
Labels: dotnet, NuGet

Update tests
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Lepo.i18n.DependencyInjection.UnitTests.csproj
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Translations-en-US.yaml
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Translations-pl-PL.yaml
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
Labels: dotnet, NuGet

Update LocalizationBuilderExtensions.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
Labels: dotnet, NuGet

Update tests
  .gitignore
  src/Lepo.i18n.DependencyInjection/StaticStringLocalizer.cs
  src/Lepo.i18n.Json/LocalizationBuilderExtensions.cs
  src/Lepo.i18n.Wpf/StringLocalizerExtension.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  src/Lepo.i18n/LocalizationSet.cs
  src/Lepo.i18n/Translator.cs
  src/Lepo.i18n/Yaml/LocalizationBuilderExtensions.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Lepo.i18n.DependencyInjection.UnitTests.csproj
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.cs-CZ.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.en-US.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.pl-PL.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Test.resx
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Translations-en-US.yaml
  tests/Lepo.i18n.DependencyInjection.UnitTests/Resources/Translations-pl-PL.yaml
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
  tests/Lepo.i18n.UnitTests/GlobalUsings.cs
  tests/Lepo.i18n.UnitTests/LocalizationBuilderTests.cs
  tests/Lepo.i18n.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.cs
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.cs-CZ.resx
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.en-US.resx
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.pl-PL.resx
  tests/Lepo.i18n.Wpf.UnitTests/Resources/Test.resx
Labels: dotnet, NuGet

Fix culture
  tests/Lepo.i18n.DependencyInjection.UnitTests/StringLocalizerBuilderExtensionsTests.cs
  tests/Lepo.i18n.UnitTests/Resources/Test.cs
Labels: dotnet

Publish packages
  .github/workflows/i18n-cd-nuget.yaml
  tests/Lepo.i18n.UnitTests/LocalizationBuilderTests.cs
Labels: github_actions, dotnet

Update docs
  Directory.Build.props
  src/Lepo.i18n.DependencyInjection/Lepo.i18n.DependencyInjection.csproj
  src/Lepo.i18n.Json/Lepo.i18n.Json.csproj
  src/Lepo.i18n.Wpf/Lepo.i18n.Wpf.csproj
  src/Lepo.i18n/Lepo.i18n.csproj
Labels: NuGet

Fix legacy code
  Directory.Build.props
  Directory.Packages.props
  README.md
  src/Lepo.i18n.DependencyInjection/LocalizationSetStringLocalizer.cs
  src/Lepo.i18n.DependencyInjection/ProviderBasedStringLocalizer.cs
  src/Lepo.i18n.DependencyInjection/ProviderBasedStringLocalizerFactory.cs
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  src/Lepo.i18n.Wpf/GlobalUsings.cs
  src/Lepo.i18n.Wpf/PluralStringLocalizerExtension.cs
  src/Lepo.i18n.Wpf/StringLocalizerExtension.cs
  src/Lepo.i18n.Wpf/TranslateConverter.cs
  src/Lepo.i18n.Wpf/TranslateExtension.cs
  src/Lepo.i18n/GlobalUsings.cs
  src/Lepo.i18n/IO/LocalizationSetResourceParser.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  src/Lepo.i18n/LocalizationProviderFactory.cs
  src/Lepo.i18n/Translator.cs
  src/Lepo.i18n/Yaml/LocalizationBuilderExtensions.cs
  tests/Lepo.i18n.DependencyInjection.UnitTests/ProviderBasedStringLocalizerFactoryTests.cs
  tests/Lepo.i18n.UnitTests/LocalizationBuilderTests.cs
  tests/Lepo.i18n.UnitTests/TranslatorTests.cs
  tests/Lepo.i18n.Wpf.UnitTests/PluralStringLocalizerExtensionTests.cs
  tests/Lepo.i18n.Wpf.UnitTests/TranslateExtensionTests.cs
Labels: dotnet, NuGet

Add typed localizers
  Directory.Build.props
  README.md
  src/Lepo.i18n.DependencyInjection/DependencyInjectionLocalizationBuilder.cs
  src/Lepo.i18n.DependencyInjection/ProviderBasedStringLocalizer{TResource}.cs
  src/Lepo.i18n.DependencyInjection/ServiceCollectionExtensions.cs
  src/Lepo.i18n/LocalizationBuilder.cs
  src/Lepo.i18n/LocalizationBuilderExtensions.cs
  src/Lepo.i18n/Translator.cs
  tests/Lepo.i18n.UnitTests/LocalizationBuilderTests.cs
Labels: dotnet, NuGet

bug: fix versions
  .github/workflows/i18n-cd-nuget.yaml
  Directory.Packages.props
  tests/Lepo.i18n.DependencyInjection.UnitTests/Lepo.i18n.DependencyInjection.UnitTests.csproj
  tests/Lepo.i18n.Json.UnitTests/Lepo.i18n.Json.UnitTests.csproj
  tests/Lepo.i18n.Wpf.UnitTests/Lepo.i18n.Wpf.UnitTests.csproj
Labels: github_actions

fix: Restore central
  Directory.Packages.props
Labels: none

fix: Update source link
  Directory.Build.targets
Labels: none

.github/labeler.yml:

release:
  - base-branch: 'main'

PR:
  - base-branch: [ 'main', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: [ 'docs/**', 'documentation/**' ]

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: [ 'src/Lepo.i18n/**', 'src/Directory.Packages.props' ]

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props' ]
